<div class="row jumbotron">
	<form name="templateForm"  ng-submit="processForm()">
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="parentProjectGroup">Parent Project Group</label> <input
				type="text" class="form-control" id="parentProjectGroup"
				placeholder="Parent Project Group"
				ng-model="template.parentProjectGroup" required>
		</div>
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="parentArtifact">Parent Artifact</label> <input
				type="text" class="form-control" id="parentArtifact"
				placeholder="Parent Artifact" ng-model="template.parentArtifact"
				required>
		</div>
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="projectGroup">Project Group</label> <input type="text"
				class="form-control" id="projectGroup" placeholder="Project Group"
				ng-model="template.projectGroup" required>
		</div>
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="artifact">Artifact</label> <input type="text"
				class="form-control" id="artifact" placeholder="Artifact"
				ng-model="template.artifact" required>
		</div>
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="packageName">Package Name</label> <input type="text"
				class="form-control" id="packageName" placeholder="Package Name"
				ng-model="template.packageName" required>
		</div>
		<div class="form-group col-xs-12 col-md-3 col-lg-6">
			<label for="dependencySelect"> Add Dependency</label> <select
				name="dependencySelect" id="dependencySelect" multiple="true"
				ng-model="template.dependencyList">
				<option ng-repeat="item in dependencyLoadList" value="{{item}}">{{item}}</option>
			</select>
		</div>
		<div class="form-group col-xs-12 col-md-6 col-lg-6">
			<label for="packagingType">Packaging Type</label><br> <select
				name="packagingType" id="packagingType"
				ng-model="template.packagingType" required>
				<option ng-repeat="item in packagingTypeList" value="{{item}}">{{item}}</option>
			</select>
		</div>

		<div class="form-group row text-center col-lg-12">
			<button type="submit" name="submit" value="submit" id="submit"
				class="btn btn-primary">Submit</button>


			<button type="button" ng-click="resetForm()"
				ng-disabled="!isTemplateChanged()" class="btn btn-primary">Reset</button>
		</div>
	</form>
</div>